@import '../../variables';
@import '../../colors';
.header-space {
	display: flex;
	padding: 16px;
	background-color: aqua;
}

.header-space__search {
	flex-grow: 1;
}

.header-space__avatar {
	flex-grow: 0;
}
