@import '../../variables';
@import '../../colors';
.ms-header-space {
	display: flex;
	padding: 16px;
	background-color: #959595;
}

.ms-header-space__search {
	flex-grow: 1;
}

.ms-header-space__avatar {
	flex-grow: 0;
}
