@import '../../variables';
@import '../../colors';
.song-space {
	background-color: #959595;
	border-radius: 8px;
	padding: 8px 16px;
	display: $flex;
}

.song-space__main-song {
	display: $flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-grow: 1;
}

.main-song__position {
	display: inline-block;
}

.main-song__image {
	display: inline-block;
}

.main-song__parent-name {
	display: $flex;
	flex-direction: column;
}

.main-song__name {
	display: inline-block;
}

.main-song__author {
	display: inline-block;
}

.song-space__album-and-listener {
	flex-grow: 1;
}

.song-space__song-status {
	flex-grow: 0;
}
