.ControlSpace {
	display: flex;
	flex-direction: row;
	overflow: auto;
	.ControlItemSpace {
		padding: 8px 16px;
		border-radius: 8px;
		border: 1px solid #959595;
		&:hover {
			background-color: #959595;
		}
	}

	.InActiveControlItemSpace {
		background-color: #ffffff;
	}

	.ActiveControlItemSpace {
		background-color: #959595;
	}
}

.ContentSpace {
	width: 100%;
	min-width: 512px;
}

.ActiveContentSpace {
	display: block;
}

.InActiveContentSpace {
	display: none;
}
