@import '../abstracts/variables';
@import '../abstracts/colors';
@import '../core/menu-item';
.menu-item {
	@include menu-item--primary;
}

.menu-item__hover--primary:hover {
	border-radius: 8px;
	background-color: #959595;
}

.menu-item--active {
	color: $white;
	font-size: 16px;
	font-weight: 700;
}

.menu-item--inactive {
	color: #959595;
	font-size: 14px;
}

.menu-item__icon {
	display: inline;
	margin-right: 8px;
}

.menu-item__label {
	display: inline;
}
