$primary-green: #1db954;
$second-green: #1ed760;

$white: #ffffff;
$white-100: #b3b3b3;

$black: #000000;
$black-100: #070707;
$black-200: #121212;
$black-300: #181818;
$black-400: #191414;
$black-500: #262626;
$black-600: #2a2a2a;
