@import '../../variables';
@import '../../colors';

.ms-home-space {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.ms-home-content {
	padding: $p-2;
}

.ms-home-content__header {
	display: $flex;
	justify-content: space-between;
	align-items: center;
	width: $w-100;
}

.ms-home-content__title {
	font-size: 24px;
}

.ms-home-content__expanded {
	font-size: $text-base;
}
