@import '../../variables';
@import '../../colors';
.avatar-space {
	display: inline-block;
	position: relative;
}

.avatar-space__control {
	background-color: $white;
	border-radius: 18px;
	padding-right: 8px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 4px;
}
.avatar-space__image {
	height: 36px;
	width: 36px;
}

.avatar-space__name {
	font-size: 16px;
	font-weight: 500;
}

.avatar-space__menu {
	position: absolute;
	width: 300%;
	height: 0px;
	background-color: #959595;
	margin-top: 8px;
	overflow: hidden;
	border-radius: 8px;
	z-index: 100;
	transition: height 0.25s;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.avatar-space__menu--active {
	height: 256px;
	overflow: auto;
}

.avatar-space__menu-item {
	border-radius: 8px;
	padding: 8px 16px;
}

.avatar-space__menu-item:hover {
	background-color: $white;
	padding: 8px 16px;
}

.inactive {
	visibility: hidden;

	height: 256px;
}
