.menu-item-space {
	display: flex;
	flex-direction: row;
	padding: 8px 16px;
	margin-bottom: 8px;
	border: 1px solidr red;
	border-radius: 4px;
	cursor: pointer;
}

.menu-item-space:hover {
	background-color: #c6c6c6;
}

.menu-item-active {
	background-color: white;
}

.menu-item-icon {
	display: inline;
	margin-right: 8px;
}

.menu-item-label {
	display: inline;
}
