.ms-search-space {
	display: inline-block;
	background-color: white;
	padding: 8px 16px;
	border-radius: 32px;
	border: 1px solid #959595;
}

.ms-search-space__parent {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 4px;
}

.ms-search-space__icon-search {
	flex-grow: 0;
}

.ms-search-space__editor {
	border: none;
	flex-grow: 1;
	min-width: 56px;
	padding: 4px 8px;
	&:focus {
		outline: none;
	}
}

.ms-search-space__icon-x {
	flex-grow: 0;
	margin-left: 4px;
	font-size: 12px;
}
.ms-search-space__icon-x--hidden {
	visibility: hidden;
}
