.search-space {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	padding: 16px;
	gap: 16px;
}

.search__label {
	font-size: 24px;
	font-weight: 700;
}

.search-space__top-result {
	grid-column: span 2 / span 2;
	display: flex;
	flex-direction: column;
}

.search-space__song {
	grid-column: span 3 / span 3;
}

.search-space__other-content {
	grid-column: span 5 / span 5;
	height: 500px;
	.search-space_other_content--item {
		display: flex;

		.content {
			display: block;
		}
	}
}
.label {
	display: block;
	font-size: 24px;
	font-weight: 600;
}

.song-space {
	display: block;
}

.song-space-item {
	width: 100%;
}
