@import '../../variables';
@import '../../colors';

@media screen and (max-width: 576px) {
	.search-space {
		grid-template-columns: $grid-cols-2;
	}

	.search-space__top-result {
		grid-column: $col-span-2;
	}

	.search-space__song {
		grid-column: $col-span-2;
	}

	.search-space__main-content {
		grid-column: $col-span-2;
	}
}

@media screen and (max-height: 577px) {
	.search-space {
		grid-template-columns: $grid-cols-3;
	}

	.search-space__top-result {
		grid-column: $col-span-3;
	}

	.search-space__song {
		grid-column: $col-span-3;
	}

	.search-space__main-content {
		grid-column: $col-span-3;
	}
}

@media screen and (min-width: 768px) {
	.search-space {
		grid-template-columns: $grid-cols-4;
	}

	.search-space__top-result {
		grid-column: $col-span-2;
	}

	.search-space__song {
		grid-column: $col-span-2;
	}

	.search-space__main-content {
		grid-column: $col-span-4;
	}
}

@media screen and (min-width: 992px) {
	.search-space {
		grid-template-columns: $grid-cols-5;
	}

	.search-space__top-result {
		grid-column: $col-span-2;
	}

	.search-space__song {
		grid-column: $col-span-3;
	}

	.search-space__main-content {
		grid-column: $col-span-5;
	}
}

@media screen and (min-width: 1200px) {
	.search-space {
		grid-template-columns: $grid-cols-5;
	}

	.search-space__top-result {
		grid-column: $col-span-2;
	}

	.search-space__song {
		grid-column: $col-span-3;
	}

	.search-space__main-content {
		grid-column: $col-span-5;
	}
}

@media screen and (min-width: 1600px) {
	.search-space {
		grid-template-columns: $grid-cols-6;
	}

	.search-space__top-result {
		grid-column: $grid-cols-2;
	}

	.search-space__song {
		grid-column: $grid-cols-4;
	}

	.search-space__main-content {
		grid-column: $grid-cols-6;
	}
}

@media screen and (min-width: 1800px) {
	.search-space {
		grid-template-columns: $grid-cols-7;
	}

	.search-space__top-result {
		grid-column: $grid-cols-3;
	}

	.search-space__song {
		grid-column: $grid-cols-4;
	}

	.search-space__main-content {
		grid-column: $grid-cols-7;
	}
}

.search-space {
	display: grid;
	height: 100%;
	padding: 16px;
	overflow-y: scroll;
	gap: 16px;
}

.top-result__parent {
	display: $flex;
	flex-direction: column;
	padding-top: 8px;
	gap: 4px;
	height: 100%;
}

.top-result__label {
	display: block;
}

.top-result__content {
	flex-grow: 1;
}

.song-content__parent {
	display: flex;
	flex-direction: column;
}

.song-content__label {
	display: block;
}

.song-content__content {
	flex-grow: 1;
}

.main-content__parent {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.main-content__cards-item {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.cards-item__label {
	display: block;
}

.cards-item__content {
	display: block;
}

// general attribute
.search__label {
	font-size: 24px;
	font-weight: 700;
}
